@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,700;1,700&family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(34, 34, 34);
    color: rgb(243, 243, 243);
    padding: 1em 3em;
}

h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 3em;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tool-card {
    padding: 1em;
    border: 1px solid #bababa;
    border-radius: 10px;
    margin: 1em;
    max-width: 25em;
    flex-grow: 1;
    min-width: 9em;
    text-decoration: none;
    color: rgb(243, 243, 243);
    transition: box-shadow .2s, transform .2s;
}

.tool-card:hover {
    box-shadow: rgb(0, 0, 0) 5px 5px 7px;
    transform: translate(-3px, -3px);
}

h2 {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0 0 1em 0;
}

